<%- include("header") -%>
<%- include("sidenav") -%>



<div id="main">

    <div class="row">
      <div class=""></div>
      <div class="col s12">
        <div class="container">

            <div id="view-higlight-table" class="active">
            <div class="row">
                  <div class="col s12">

                    <table class="highlight">

                        <tbody>

                        <% EventList.forEach(function(item) { %>
                        <tr>
                            
                          <td> <%=item.event_date%> </td>
                          <td> <%=item.sport%> </td>
                          <td> <%=item.Venue%> </td>
                          <td> <%=item.start_time%> </td>
                          <td> <%=item.end_time%> </td>
                          <td>
                        <form method="POST" action="/view_players">
                                <input name="e_id" id="eid" type="hidden" value="<%=item.e_id%>">   
                          <div class="input-field col m1 s2">
                                <div class="input-field col s2">
                                  <button class="waves-effect waves-circle waves-light btn-floating btn-medium  gradient-45deg-light-blue-cyan" type="submit">
                                    <i class="material-icons">arrow_forward</i></button>
                                </div>
                              </div>
                            </td>
                        </form>
                        </tr>
                        <% }) %>

                    </table>

                  </div>
            </div>



</div>
</div>
</div>
</div>
</div>






<%- include("theme-customizer") -%>
<%- include("footer") -%>
